
body{
	height: 100%;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

a{
	text-decoration: none;
}

a:hover,
a:visited:hover{
	text-decoration: underline;
}

#title{
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#title img{
	display: block;
	margin: 0 auto;
	padding: 20px 0px;
	cursor: pointer;
}

#breadcrumbs-wrapper{
	overflow: scroll;
	width: calc(100% - 98px);
	padding: 20px 0px;
}

#breadcrumbs{
	width: 10000px;
}

#breadcrumbs-wrapper:after{
	content: "";
	position: absolute;
	z-index: 100;
	top: 100px;
	right: 20px;
	pointer-events: none;
	width: 20px;
	height: 50px;
	background-image:
		linear-gradient(
			to right, 
			rgba(255,255,255,0), 
			rgba(255,255,255, 1) 
			90%
		);
}

#intro{
	width: 100%;
	text-align: center;
	margin: 20px 0px;
	line-height: 20px;
}

#intro p{
	margin: 3px 0px 0px 0px;
	padding: 0px;
	float: none;
}

#results{
	margin: 0 auto;
	max-width: 852px;
	text-align: center;

	transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
}

#breadcrumbs img{
	max-height: 100%;
	float: left;
	margin: 0px 10px;
}

#breadcrumbs p{
	float: left;
}

#breadcrumbs #intro p{
	float: none;
}

#breadcrumbs-root{
	opacity: 0;
	background-image: url();
	background-color: #0063dc;
	cursor: pointer;
	margin: 20px 10px 20px 20px;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

	-o-transition: box-shadow 0.2s ease;
	-ms-transition: box-shadow 0.2s ease;
	-webkit-transition: box-shadow 0.2s ease;
	-moz-transition: box-shadow 0.2s ease;
}

#breadcrumbs-root:after{
	content: "";
	position: absolute;
	z-index: 101;
	pointer-events: none;
	width: 40px;
	height: 50px;
	top: 101px;
	left: 78px;
	background-image:
		linear-gradient(
			to left, 
			rgba(255,255,255,0), 
			rgba(255,255,255, 1) 
			90%
		);
}
#breadcrumbs-root img{
	margin: 0;
}

#breadcrumbs-root,
.circular{
	border-radius: 50%;
	float: left;
	height: 48px;
	width: 48px;
	background-size: cover !important;
	cursor: pointer;
	border: 2px solid white;

	transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
}

#breadcrumbs-root:hover,
.circular:hover{
	border: solid 2px #fc329b;
}

.group-crumb{
	border-bottom: 2px solid white;

	transition: border 0.2s ease;
	-o-transition: border 0.2s ease;
	-ms-transition: border 0.2s ease;
	-webkit-transition: border 0.2s ease;
	-moz-transition: border 0.2s ease;
}

.group-crumb:hover{
	border-bottom: 2px solid #fc329b;
	cursor: pointer;
	margin-bottom: 15px;
}

#groups{
	opacity: 0;
	margin: 0px auto;
	position: relative;
	max-width: 852px;
	height: 100%;
	padding: 0 20px;

	transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
}

#selected-photo{
	float: left;
	height: 100%;
	width: 50%;
	text-align: center;
}

#selected-photo p{
	float: right;
	line-height: 2.5em;
}

#selected-photo img{
	max-width: 100%;
	max-height: 100%;
}

#photo-groups-wrapper{
	float: left;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
}

#photo-groups-wrapper h2{
	margin: 20px 0px;
}

#photo-groups{
	height: 100%;
	left: 50%;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	overflow-y: auto;
	padding-right: 20px;
}

.groupPhoto{
	cursor: pointer;
	min-height: 48px;
	padding: 5px;
	background-color: white;
	border-radius: 32px;
	margin: 10px 0px;

	transition: background-color 0.1s ease;
	-o-transition: background-color 0.1s ease;
	-ms-transition: background-color 0.1s ease;
	-webkit-transition: background-color 0.1s ease;
	-moz-transition: background-color 0.1s ease;
}

.groupPhoto:hover{
	background-color: #e2e2e2;
}

.groupPhoto:hover .circular{
	border: 2px solid #fc329b;
}

.groupPhoto h2{
	display: inline;
}

.groupPhoto h3{
	margin-left: 58px;
	margin-top: 8px;
}

.containImg{
	position: relative;
	width: 33%;
	height: 200px;
	float: left;
	padding: 10px;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
	
	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

.containImg:hover{
	overflow: visible;
	z-index: 100;
}

.containImg img{
	width: 100%;
	position: relative;
	vertical-align: middle;
	cursor: pointer;

	-webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0,6);
	-moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.6);

	transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}

.containImg:hover img{
	transform: scale(1.3,1.3);
	-webkit-box-shadow: 0px 0px 22px rgba(0,0,0,0,6);
	-moz-box-shadow: 0px 0px 22px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 22px rgba(0,0,0,0.6);
	z-index: 100;
}

.containImg:hover .photo-overlay{
	width: 100%;
}

.photo-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 200;
	display: table;

	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

.no-photos{
	opacity: 0;
	width: 0px;
	height: 0px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;

	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

.no-photos p{
	color: white;
	margin: 0;
	height: 75px;
	width: 100px;
	padding-top: 25px;
	border-radius: 50%;
	border: 2px solid #fc329b;
	background-color: rgba(0,0,0,0.8);
	display: inline-block;
}
.containImg .no-photos{
	width: 10px;
	height: 10px;

	transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

.containImg:hover .no-photos{
	opacity: 1;
	width: 100px;
	height: 100px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

